._3xxU_D9pzkueeQsC6nJptv {
    width: 100%
}

._3LaJFp9vjmLOxq_fZIxodl {
    margin-bottom: 0
}

._2NHNmJV6_L9v3OpgLVhkc_ {
    position: relative
}

._2E97vy8ls9wV8n_r-kzLR1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    position: relative
}

._1CVs-Ep9x4QfIuhN8Baao {
    -webkit-box-flex: 1;
    background-color: #485460;
    -ms-flex: 1;
    flex: 1;
    overflow: auto
}

._3isPm2ycIZ15_2ttUgBq3E {
    background-color: #fff;
    overflow-y: auto;
    padding: 15px;
    -webkit-transition: .2s;
    transition: .2s;
    width: 270px
}

._3Q6EhPIMFk3oelZLSpLEl_ {
    padding: 0;
    width: 0
}

._3Q6EhPIMFk3oelZLSpLEl_ ._1uC5q6ctsYrXCGAwb4Oyah {
    right: 0
}

._1uC5q6ctsYrXCGAwb4Oyah {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.35);
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    color: #485460;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 256px;
    top: 0;
    -webkit-transition: .2s;
    transition: .2s;
    width: 30px
}

._1uC5q6ctsYrXCGAwb4Oyah,.MAtvQ0oWaQQZFJN72CB_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.MAtvQ0oWaQQZFJN72CB_1 {
    margin-bottom: 10px
}

.MAtvQ0oWaQQZFJN72CB_1 input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.p61aT4eEIEjBndHP0bO0I {
    font-size: 16px
}

._3KuzhZE2aBgyOZIUObchOD {
    font-size: 12px;
    font-style: italic
}

._3lPdDslj79BF7kwci3P4WZ {
    background-color: #fff;
    overflow: hidden;
    position: relative
}

._2bbkuw8yHR8QvZJrAKWOwj {
    height: 100%;
    width: 100%
}

._3Ko8mkJ6ilCABSvv399SK5 {
    max-height: 100%;
    max-width: 100%
}

._2WEkBppY5KfRMaww1GfukD {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

._22A-UP_WDIRq9F8u1M1e04,.qmC7DJZqPz0OfyDE3kuwQ {
    cursor: -webkit-grab;
    cursor: grab;
    display: inline-block
}

._3d46Ydgz-Hzn7jmT812T_V {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center
}

._3mBtIPJHO_L269e6_qYcNJ {
    margin-top: 6px
}

._-6bVd2BxQ07_sDFp84gX {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40vh;
    justify-content: center
}

.WaDC-keYf7JjttBzuRJhZ {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    display: grid;
    row-gap: 10px
}

._1pNOPbv3iWKoyqwLUgPiTP {
    grid-template-columns: 1fr 1fr 1fr 1fr
}

._2f-9EYREOz05QxaB_V6ZYw {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.WaDC-keYf7JjttBzuRJhZ img {
    -webkit-box-shadow: 0 2px 5px -1px rgba(50,50,93,.25),0 1px 3px -1px rgba(0,0,0,.3);
    box-shadow: 0 2px 5px -1px rgba(50,50,93,.25),0 1px 3px -1px rgba(0,0,0,.3);
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

._2BB_YWPQhv5n0JKxiZvzCn {
    border: 2px solid #41a9ff
}

._3CJDeqE1GTZbV33TiOBb_P {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._2S6C2LlzPySGzXkPIyfCSg,._3CJDeqE1GTZbV33TiOBb_P {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._1RAca1oA-pJxdCyAqC81J7 {
    margin-right: 8px
}

._3lZNlMLYANhIzh7cONWFC8 {
    margin-left: 8px
}

._3PqNI4RRp2xNK9p0D3LuYU {
    max-height: 250px;
    width: 100%
}

._3PqNI4RRp2xNK9p0D3LuYU img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

._2d-3hXXY_VdnT2cmawi_NG {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}

._1ke51tk8eaYZvrvzY8cp9n {
    margin-right: 8px
}

._35ypx_cc23NvDEvKOlsJO8 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px
}

._1_pgCHP0B_BpXjGmQIchFa img {
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 80px
}

._1iZaLMJlGRpPlpUR7xELhT {
    -ms-flex-pack: distribute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around
}

._3aG4QL-rx3wagCbOXcmqHY {
    cursor: pointer
}

._2Y03iiqMlXTYvNdEj75CD2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #fff;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 100px);
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999
}

._1T81J8jbEZHUw8uNnuUWkB {
    font-size: 15px;
    font-weight: 300;
    padding: 0 24px;
    text-align: center
}

.LNfNEKxhmDdRqS1MTJ0F3 {
    text-align: center
}

._2BH_rb69WR4dfBI1fequ9q {
    margin-left: 12px
}
